.defaultStyle body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.defaultStyle main {
    padding: 20px;
}

.defaultStyle h1, .defaultStyle h2 {
    color: black; 
}

.defaultStyle body p {
    margin: 10px 0;

}

/* Styling for individual sections */
.defaultStyle section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e7e7e7;
}